<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="../css/style.css#">
    <title>CSS DAY 1</title>
    <style>
        h1 {
            background-color: red;
            color: white;
            text-align: center;

        }
    </style>
</head>

<body>
    <h1 style="color: white; text-align: center; background-color: dodgerblue;" title="Computer is an electronic machine Computer is an electronic machineComputer is an electronic machineComputer is an electronic machineComputer is an electronic machineComputer is an electronic machineComputer is an electronic machineComputer is an electronic machineComputer is an electronic machine.">What is Computer?</h1>
    <h1 style="background-color: gray; color: white; font-family:Georgia, 'Times New Roman', Times, serif;">Another Hi
        heading tag</h1>
    <h1>Hello World</h1>
    <h1>CSS</h1>
    <h2>This is simple H2 </h2>
    <p class="para" id="para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, rem optio, ducimus
        laborum ipsa sequi delectus architecto, corrupti porro minus ipsam maxime ex nulla eveniet quibusdam omnis fuga
        qui aut!</p>
    <p class="para" id="para2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem rerum nam cumque
        totam facere provident a aperiam dolorum, autem animi mollitia sit debitis expedita laudantium at aliquam quasi.
        Fuga.</p>
    <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem rerum nam cumque totam facere
        provident a aperiam dolorum, autem animi mollitia sit debitis expedita laudantium at aliquam quasi. Fuga.</p>
    <p class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem rerum nam cumque totam facere
        provident a aperiam dolorum, autem animi mollitia sit debitis expedita laudantium at aliquam quasi. Fuga.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem rerum nam cumque totam facere provident a
        aperiam dolorum, autem animi mollitia sit debitis expedita laudantium at aliquam quasi. Fuga.</p>
    <a href="https://www.google.com/" class="a" target="_blank">Google</a>
</body>

</html>