* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas:
        'header header header'
        'menu menu menu'
        'box3 sidebar sidebar'
        'box4 sidebar sidebar'
        'content sidebar sidebar'
        'content sidebar sidebar'
        'content sidebar sidebar'
        'footer footer footer';


    grid-gap: 20px;
    padding: 10px 10px;
    margin: 30px;
    background-color: cadetblue;
    background: 5px outset blanchedalmond;
    height: 95vh;
    width: 75vw;
}

.item {
    background-color: antiquewhite;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-family: cursive;
    font-weight: bolder;

    color: white;
    border: 10px groove black;
}

.header {
    background-color: chocolate;
    grid-area: header;
    padding: 2px;

}

.menu {
    background-color: rgb(25, 24, 26);
    grid-area: menu;
    padding: 2px;
}

.box3 {
    background-color: rgb(134, 224, 15);
    grid-area: box3;
}

.box4 {
    background-color: violet;
    grid-area: box4;
}

.sidebar {
    background-color: crimson;
    grid-area: sidebar;

}

.content {
    background-color: slateblue;
    grid-area: content;
}

.footer {
    background-color: darkgoldenrod;
    grid-area: footer;
}


@media only screen and (max-width: 550px) and (min-width: 380px) {
    .container {
        display: grid;
        grid-template-areas:
            'header header header'
            'menu menu menu'
            'box3 box3 box3'
            'box4 box4 box4'
            'sidebar sidebar sidebar '
            'content content content '
            'footer footer footer';
        grid-gap: 20px;
        height: 100vh;
        width: 100vw;
    }

}

@media only screen and (max-width: 650px) and (min-width: 551px) {
    .container {
        display: grid;
        grid-template-areas:
            'header header header'
            'menu menu sidebar'
            'box3 box3 sidebar'
            'box4 box4 sidebar'
            'content content sidebar'
            'footer footer footer '

        ;

        grid-gap: 20px;
        height: 100vh;
        width: 100vw;
    }

}